
<table id="players-table" class="table-fixed border border-gray-400 border-collapse">
  <thead>
    <tr class="bg-gray-200">
      <th class="border border-gray-300 p-2 w-1/2">Name</th>
      <th class="border border-gray-300 p-2 w-1/8">ESPN Rank</th>
      <th class="border border-gray-300 p-2 w-1/8">CBS Rank</th>
      <th class="border border-gray-300 p-2 w-1/8">Fantasy Pros Rank</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td class="border border-gray-300 p-2"><%= player.name %></td>
        <td class="border border-gray-300 p-2"><%= player.espn_rank %></td>
        <td class="border border-gray-300 p-2"><%= player.cbs_rank %></td>
        <td class="border border-gray-300 p-2"><%= player.fantasy_pros_rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
